@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight;
}

/* Dropdown animations */
.group:hover .hidden {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

